{# Affiche un selecteur de franchises #}
{{ form_start(form) }}
    <div class="block-input">
        {{ form_widget(form.name, {'id': 'select-franchise'}) }}
    </div>
{{ form_end(form) }}
<a href="" class="text-light text-xs cancel-edit">Annuler</a>

