{% extends 'base-login.html.twig' %}

{% block title %}Connectez-vous{% endblock %}
{% block title_h1 %}Connectez-vous{% endblock %}

{% block content %}            
    <p class="light-text">Cette plateforme est dédiée aux franchisés de la marque BodyCool</p>
            
    <div class="block-form-login">
        <form action="" method="get">
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Entrez votre email">
            </div>
            <div>
                <label for="mdp">Mot de passe</label>
                <input type="text" name="mdp" id="mdp" placeholder="Entrez votre mot de passe">
            </div>
            <a href="http://">Mot de passe oublié ?</a>
            <button class="btn-primary" type="submit">Se connecter</button>
        </form>
    </div>  
{% endblock %}

