{% extends 'base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block header %}
    <header class="main-header format-page-login">
        <div class="logo">
            <img src="{{ asset('/images/logo-bodycool.svg') }}" alt="Logo bodycool" height=42 width=auto>
        </div>    
    </header>
{% endblock %}

{% block main %}           
    <main class="container-login">
        <div class="main-title-page">
            <h1>{% block title_h1 %}Connectez-vous{% endblock %}</h1>
                <div class="border-h1"></div> 
            </div>
        {% block content %}
            <div class="block-login">
            <p class="light-text">Cette plateforme est dédiée aux franchisés de la marque BodyCool</p>
            
            <div class="block-form-login">
                <form action="" method="get">
                    <div>
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="Entrez votre email">
                    </div>
                    <div>
                        <label for="mdp">Mot de passe</label>
                        <input type="text" name="mdp" id="mdp" placeholder="Entrez votre mot de passe">
                    </div>
                    <a href="http://">Mot de passe oublié ?</a>
                    <button class="btn-primary" type="submit">Se connecter</button>
                </form>
            </div>
            </div>
            <div class="background-login"></div>        
        {% endblock %} 
    </main> 
    <footer class="footer-login">
        <p class="text-xs light-text">Si vous rencontrez un problème pour vous connecter, merci de contacter votre conseiller technique</p>
    </footer>    

{% endblock %} 

{% block js_after %}{% endblock %}   

