{% extends 'base-login.html.twig' %}

{% block title %}Créer votre mot de passe{% endblock %}
{% block title_h1 %}Créer votre mot de passe{% endblock %}

{% block content %}
        <p class="light-text">Vous devez créer votre mot de passe pour vous connecter</p>
            
        <div class="block-form-login">
            {{ form_start(formCreatePassword) }}
                {{ form_row(formCreatePassword.plainPassword)}}
                {{ form_row(formCreatePassword._token)}}
                <button class="btn-primary" type="submit">Créer mon mot de passe</button>
            {{ form_end(formCreatePassword) }}
        </div> 
{% endblock %}