{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}
{% block title_h1 %}Mon profil{% endblock %}












{# {% block footer %}
    <footer class="footer-login">
        <p class="text-xs light-text">Si vous rencontrez un problème pour vous connecter, merci de contacter votre conseiller technique</p>
    </footer>
{% endblock %} #}