{% extends 'base-login.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}
{% block title_h1 %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
        <p class="light-text">Indiquez l'adresse email de votre compte</p>
            
        <div class="block-form-login">
            {{ form_start(formResetPassword) }}
                {{ form_row(formResetPassword.email)}}
                <button class="btn-primary" type="submit">Créer mon mot de passe</button>
            {{ form_end(formResetPassword) }}
        </div> 
{% endblock %}