{% extends 'base-login.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}
{% block title_h1 %}Mot de passe oublié ?{% endblock %}

{% block content %}
    <p class="light-text">Indiquez l'adresse email de votre compte.</p>
            
    <div class="block-form-login">
        {{ form_start(formResetPassword) }}
            {{ form_row(formResetPassword.email)}}
            <button class="btn-primary" type="submit">Réinitialiser mon mot de passe</button>
        {{ form_end(formResetPassword) }}
    </div> 
{% endblock %}