{% extends "base-email.html.twig" %}

{% block titre %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
    <p>Bonjour {{ user.getFirstname }}, quelqu'un a demandé à réinitialiser votre mot de passe. Vous pouvez le faire en suivant ce lien.</p>

    <a href="{{ absolute_url(path('app_creer_mot_de_passe', {'token' : user.getActivationToken})) }}" ><button type="submit">Réinitialiser mon mot de passe</button></a>
    <br>
    <p>Si le bouton ne fonctionne pas, vous pouvez cliquer sur ce bouton : </p> 

    <a href="{{ absolute_url(path('app_creer_mot_de_passe', {'token' : user.getActivationToken})) }}">{{ absolute_url(path('app_creer_mot_de_passe', {'token' : user.getActivationToken})) }}</a>

    <p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email.</p> 
{% endblock %}

