{# Template de base pour les emails #}
{% apply inline_css(source('@css/email.css')) %}
    <body>
        <img class="logo" src="{{ email.image('@images/logo-bodycool.svg') }}" alt="logo bodycool" height=38px>

        <h1>{% block titre %}{% endblock %}</h1>
        {% block content %}{% endblock %}

        {% block footer %}
            <footer>
                <p>Cet email vous est envoyé car vous êtes soit franchisé ou gestionnaire.</p>
                <p>BodyCool</p>
            </footer>    
        {% endblock %}
    </body>
{% endapply %}
