{% extends 'base.html.twig' %}

{% block title %}Liste des permissions{% endblock %}
{% block title_h1 %}Les permissions{% endblock %}

{% block content %}
    <section class="block-list-permissions">
        <h2>{{ nbPermission }} permissions</h2> 
        <div class="block-cards-lists-permissions">
            {% for permission in permissions %}
                <article class="card-permission-list">
                    <h3>{{ permission.name }}</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </article>
            {% endfor %}
        </div>
        <a href="{{ path('app_ajouter_permission') }}"><button class="btn-secondary">Nouvelle permission</button></a>
    </section>
{% endblock %}