{% extends 'base.html.twig' %}
  
{% block title %}Politique de confidentitalité{% endblock %}
{% block title_h1 %}Politique de confidentitalité{% endblock %}

{% block content %}
<div class="legal-page">
    <h2>1 - Introduction</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt augue non tortor tincidunt vehicula. Maecenas nisl leo, finibus ut consequat nec, egestas in metus. Phasellus tincidunt, erat non cursus egestas, felis ligula porttitor mauris, sed faucibus augue ligula vehicula lectus. Duis egestas venenatis dui, sit amet sollicitudin ligula lacinia ornare. Pellentesque in magna dui. Phasellus sit amet finibus tellus. Morbi sollicitudin accumsan arcu at imperdiet. Maecenas placerat dolor quis diam malesuada volutpat.

    <h2>2 - Nos valeurs</h2>
    Nullam convallis fermentum felis, a vestibulum nisl. Pellentesque tristique aliquam est, sed accumsan lacus condimentum in. Fusce eget quam aliquam, dapibus mauris non, ornare purus. Nam sed aliquam ex. Curabitur in finibus diam. Praesent eget est in dui iaculis iaculis. Nullam vel aliquet sapien. Proin gravida sit amet sapien at rutrum. Etiam blandit tempor nulla non eleifend. Etiam commodo dui in lectus accumsan ornare. Mauris vel eros eget turpis auctor iaculis vitae eu odio. Suspendisse viverra vulputate erat sed rutrum. Sed facilisis elit erat. Vivamus ultrices odio dolor, sit amet lobortis nulla egestas vel. Vestibulum ornare varius augue, at fringilla mauris lacinia sed. Duis dolor tortor, bibendum sed gravida et, consectetur quis risus.

    <h2>3 - Pourquoi traitons-nous vos informations ?</h2>
    Etiam vel tincidunt lorem. Sed eget dolor sed elit congue mollis bibendum et erat. Integer varius in arcu dictum ullamcorper. Nulla ultrices nisl ac nunc mattis consequat. Curabitur quis dolor ipsum. Proin in nulla eu ante feugiat fermentum. Mauris imperdiet faucibus arcu, ut viverra velit faucibus pretium. Donec interdum libero sit amet elit rutrum ultrices sed sed urna. Mauris malesuada ultrices ante quis ornare. Maecenas commodo vel augue id volutpat. Duis faucibus nec velit id semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce accumsan ante luctus quam sagittis scelerisque.

    <h2>4 - Vos droits sur vos informations</h2>
    Donec venenatis eros et felis imperdiet, tristique mattis leo vulputate. In hendrerit augue elit, in lobortis tortor vestibulum eu. Aenean dapibus dui at auctor luctus. Vestibulum at ipsum purus. Mauris scelerisque risus quis nunc lacinia, ut fringilla dui finibus. Donec ut dictum mi, eu posuere enim. Nulla ut arcu mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sed finibus eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque consequat purus, vel blandit erat scelerisque eu. Donec vitae tellus vitae lectus placerat lacinia. Duis pulvinar dui a tortor scelerisque vulputate. Aliquam consequat mollis libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc vitae tristique quam.

    <h2>5 - Où envoyons-nous vos informations ?</h2>
    Nullam convallis fermentum felis, a vestibulum nisl. Pellentesque tristique aliquam est, sed accumsan lacus condimentum in. Fusce eget quam aliquam, dapibus mauris non, ornare purus. Nam sed aliquam ex. Curabitur in finibus diam. Praesent eget est in dui iaculis iaculis. Nullam vel aliquet sapien. Proin gravida sit amet sapien at rutrum. Etiam blandit tempor nulla non eleifend. Etiam commodo dui in lectus accumsan ornare. Mauris vel eros eget turpis auctor iaculis vitae eu odio. Suspendisse viverra vulputate erat sed rutrum. Sed facilisis elit erat. Vivamus ultrices odio dolor, sit amet lobortis nulla egestas vel. Vestibulum ornare varius augue, at fringilla mauris lacinia sed. Duis dolor tortor, bibendum sed gravida et, consectetur quis risus.

    <h2>6 - Comment protégeons-nous vos informations ?</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt augue non tortor tincidunt vehicula. Maecenas nisl leo, finibus ut consequat nec, egestas in metus. Phasellus tincidunt, erat non cursus egestas, felis ligula porttitor mauris, sed faucibus augue ligula vehicula lectus. Duis egestas venenatis dui, sit amet sollicitudin ligula lacinia ornare. Pellentesque in magna dui. Phasellus sit amet finibus tellus. Morbi sollicitudin accumsan arcu at imperdiet. Maecenas placerat dolor quis diam malesuada volutpat.
</div>
{% endblock %} 





