{# Trie les élements en fonction de leur état (activé ou désactivé), s'utilise avec les paramètres : active, searchid, searchname. #}


<nav class="filter-state js-filter">
    <ul>
        <a class="link-js" href="{{ path(app.request.attributes.get('_route'), {numpage: 1, name: paramName, id: paramId}) }}">
            <li 
                {% if paramActive == null %}
                    class="active" 
                {% endif %}
                >Toutes
            </li>
        </a>
        <a class="link-js" href="{{ path(app.request.attributes.get('_route'), {numpage: 1, active: 1, name: paramName, id: paramId}) }}">
            <li 
                {% if paramActive == 1 %}
                    class="active" 
                {% endif %}
                >Actives
            </li>
        </a>
        <a class="link-js" href={{ path(app.request.attributes.get('_route'), {numpage: 1, active: 0, name: paramName, id: paramId})}}>
            <li 
                {% if paramActive != null and paramActive !=1 %}
                    class="active"
                {% endif %}
                >Inactives
            </li>
        </a>
    </ul>
</nav>