{% extends 'base.html.twig' %}

{% block title %}Liste des franchises{% endblock %}
{% block title_h1 %}Liste des franchises{% endblock %}

{% block content %}
    <div class="list-franchise ajax-content">
        <h2>Recherchez une franchise
            {{ totalFranchise > 1 ? 'parmis vos ' ~ totalFranchise ~ ' franchises': '' }}
        </h2>
        <p class="text-light">Recherchez une franchise avec son nom ou son ID.</p>

        <div class="block-search">
            <input class="input" type="text" name="name" id="name" placeholder="Entrez le nom d’un franchisé">
            <input class="input" type="text" name="id" id="id" placeholder="Ou recherchez avec son ID">
        </div>

        <div class="dividing-border"></div>

        {{ include('include/_filter-state.html.twig') }}

        <div class="number-resultat-filter"></div>

        {{ include('include/_franchise-listing.html.twig') }}

        {{ include('include/_pagination.html.twig') }}
    </div>
{% endblock %} 